[class^="col-"] {
    border: 1px solid white;
    height: 50px;
    background-color: blue;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container_col-6 {
    height: 75%;
    width: 95%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.container_col-6 * {
    border: none;
    background-color: green;
    height: 100%;
    margin: 1px;
}