.main_container {
    margin: 2rem auto;
    width: 600px;
    height: 600px;
    border-radius: 50%;
    background-color: black;
}

.triangolo {
  width: 0; height: 0; line-height: 0;
  border-bottom: 50px solid red;
  border-left:   50px solid transparent;
  border-right:  50px solid transparent;
}

.col-12 {
    height: 65px;
}

.rotate {
    rotate: 180deg;
}